.spyproject/
.vscode/
logs/
dev_test/
out/
**/__pycache__
*.pyc
trained_models/
log/
dataset/
*.pth
*.pt
*.pkl
*.zip
girl_2/
nohup.out
ins
.DS_store

*.ipynb_checkpoints
*.tar.gz
*.zip


# remove training code
pretrained/

train.py
*.train
ignore/
misc/
configs_old/
configs_new/